.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
}

.modal_controls {
    display: flex;
    gap: 10px;
}

.modal_input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}